<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/index.css" type="text/css">
  <title>Price is Right</title>
</head>

<body>
  <h1>Server</h1>
  <div class="container">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Barcode</div>
        <div class="col col-2">Grocery Item Name</div>
        <div class="col col-3">Last Price</div>
        <div class="col col-4">Date of Last Price </div>
      </li>
      <% if (locals.grocery_items) {%>
        <% for (let i=0; i < grocery_items.length; i++) { %>
          <li class="table-row">
            <div class="col col-1">
              <%= grocery_items[i].barcode %>
            </div>
            <div class="col col-2">
              <%= grocery_items[i].name %>
            </div>
            <div class="col col-3">
              <%= grocery_items[i].price %>
            </div>
            <div class="col col-4">
              <%= grocery_items[i].date %>
            </div>
          </li>
          <% } %>
      <% } %>
        </ul>
  </div>
</body>

</html>