<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Price is Right</title>
</head>

<body>
  </h1>
  <table>
    <tbody>
      <tr>
        <th>Name</th>
        <th>Barcode</th>
        <th>Price</th>
        <th>Date</th>
      </tr>
      <% for (let i=0; i < grocery_items.length; i++) { %>
        <tr>
          <th>
            <%= grocery_items[i].name %>
          </th>
          <th>
            <%= grocery_items[i].barcode %>
          </th>
          <th>
            <%= grocery_items[i].price %>
          </th>
          <th>
            <%= grocery_items[i].date %>
          </th>
        </tr>
        <% } %>
    </tbody>
  </table>
</body>

</html>